{% extends "base.html" %}
{% load static %}
{% block title %}Free Career Opportunities & Learning Resources | Hopelism{% endblock title %}
{% block  meta %}
<meta name="description" content="Discover 100% free exclusive career opportunities and study research on Hopelism.Boost your academic success and career growth today !">
<meta name="keywords" content="career opportunities, free jobs, study resources, academic success, learning platform, job vacancies, student resources, free study material, free internships notification, final-year students, fresher jobs, experienced jobs, research papers, job applications, professional development, graduate jobs, skill development, university notes, education platform,free job alerts, industry jobs, job search, career growth, job placements, study guides,recruitment updates, academic research, career planning, job market trends">
<meta name="classification" content="Education, Career Opportunities, Learning Resources, Academic Success, Job Market">
<link rel="canonical" href="https://www.hopelism.com/">
<meta property="og:title" content="Hopelism - Free Learning Resources and Career Opportunities">
<meta property="og:description" content="Hopelism provides free learning resources and career opportunities to help them succeed.">
<meta property="og:url" content="https://www.hopelism.com/">
<meta property="og:type" content="website">
<meta property="og:image" content="{% static "/images/Hopelismshare.png" %}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta itemprop="name" content="Hopelism">
<meta itemprop="url" content="https://hopelism.com">
<meta itemprop="description" content="Hopelism provides free career opportunities and educational resources for students.">
{% endblock %}
{% block critialcss %}
.bordernotes img
{margin-top: 23px;}

.bordernotes h5
{margin-top: -12px;}

.bordercareers img
{margin-top: 25px;}
{% endblock critialcss %}

{% block content %}
<div class="about--banner">
  <div class="about--bannerbox1">
    <div class="content">
      <div class="content__container">
        <ul class="content_container_list">
          <li class="content_containerlist_item"><h2>Learn Anyone !</h2></li>
          <li class="content_containerlist_item"><h2>Learn Anything !</h2></li>
          <li class="content_containerlist_item"><h2>Learn Anywhere !</h2></li>
          <li class="content_containerlist_item"><h2>Learn Anytime !</h2></li> 
        </ul>
      </div>
    </div>
    <div class="about--bannerboxh2">
      <h2>Hope<br>never ends<br>infinity possibilities<br>await</h2>
    </div>
  </div>
  <div class="about--bannerbox2">
    <div class="loader1">
      <div>
        <ul>
          <li>
            <svg fill="currentColor" viewBox="0 0 90 120" xmlns="http://www.w3.org/2000/svg">
              <path d="M90 0v120H11a11 11 0 0 1-11-11V11A11 11 0 0 1 11 0h79zm-18.5 81H18.5a2.5 2.5 0 0 0 0 5h53a2.5 2.5 0 0 0 0-5zm0-24H18.5a2.5 2.5 0 0 0 0 5h53a2.5 2.5 0 0 0 0-5zm0-24H18.5a2.5 2.5 0 0 0 0 5h53a2.5 2.5 0 0 0 0-5z"/>
            </svg>
          </li>
          <li>
            <svg fill="currentColor" viewBox="0 0 90 120" xmlns="http://www.w3.org/2000/svg">
              <path d="M90 0v120H11a11 11 0 0 1-11-11V11A11 11 0 0 1 11 0h79zm-18.5 81H18.5a2.5 2.5 0 0 0 0 5h53a2.5 2.5 0 0 0 0-5zm0-24H18.5a2.5 2.5 0 0 0 0 5h53a2.5 2.5 0 0 0 0-5zm0-24H18.5a2.5 2.5 0 0 0 0 5h53a2.5 2.5 0 0 0 0-5z"/>
            </svg>
          </li>
          <li>
            <svg fill="currentColor" viewBox="0 0 90 120" xmlns="http://www.w3.org/2000/svg">
              <path d="M90 0v120H11a11 11 0 0 1-11-11V11A11 11 0 0 1 11 0h79zm-18.5 81H18.5a2.5 2.5 0 0 0 0 5h53a2.5 2.5 0 0 0 0-5zm0-24H18.5a2.5 2.5 0 0 0 0 5h53a2.5 2.5 0 0 0 0-5zm0-24H18.5a2.5 2.5 0 0 0 0 5h53a2.5 2.5 0 0 0 0-5z"/>
            </svg>
          </li>
          <li>
            <svg fill="currentColor" viewBox="0 0 90 120" xmlns="http://www.w3.org/2000/svg">
              <path d="M90 0v120H11a11 11 0 0 1-11-11V11A11 11 0 0 1 11 0h79zm-18.5 81H18.5a2.5 2.5 0 0 0 0 5h53a2.5 2.5 0 0 0 0-5zm0-24H18.5a2.5 2.5 0 0 0 0 5h53a2.5 2.5 0 0 0 0-5zm0-24H18.5a2.5 2.5 0 0 0 0 5h53a2.5 2.5 0 0 0 0-5z"/>
            </svg>
          </li>
          <li>
            <svg fill="currentColor" viewBox="0 0 90 120" xmlns="http://www.w3.org/2000/svg">
              <path d="M90 0v120H11a11 11 0 0 1-11-11V11A11 11 0 0 1 11 0h79zm-18.5 81H18.5a2.5 2.5 0 0 0 0 5h53a2.5 2.5 0 0 0 0-5zm0-24H18.5a2.5 2.5 0 0 0 0 5h53a2.5 2.5 0 0 0 0-5zm0-24H18.5a2.5 2.5 0 0 0 0 5h53a2.5 2.5 0 0 0 0-5z"/>
            </svg>
          </li>
          <li>
            <svg fill="currentColor" viewBox="0 0 90 120" xmlns="http://www.w3.org/2000/svg">
              <path d="M90 0v120H11a11 11 0 0 1-11-11V11A11 11 0 0 1 11 0h79zm-18.5 81H18.5a2.5 2.5 0 0 0 0 5h53a2.5 2.5 0 0 0 0-5zm0-24H18.5a2.5 2.5 0 0 0 0 5h53a2.5 2.5 0 0 0 0-5zm0-24H18.5a2.5 2.5 0 0 0 0 5h53a2.5 2.5 0 0 0 0-5z"/>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="mainbox" itemscope itemtype="https://schema.org/ItemList">
  <a href="{% url 'campus'  %}" class="loadingloader" itemscope itemtype="https://schema.org/Thing">
    <div class="box1 bordercampus" itemprop="item">
      <img src="{% static "/images/Hopelismcampus.svg" %}" alt="Campus icon for Campus section">
      <div class="innertext">
        <h5 itemprop="name">Campus</h5>
      </div>
    </div>
  </a>
  <a href="{% url 'notes'  %}" class="loadingloader" itemscope itemtype="https://schema.org/Thing">
    <div class="box1 bordernotes" itemprop="item">
      <img src="{% static "/images/Hopelismnotes.svg" %}" alt="Note icon for Notes section">
      <div class="innertext">
        <h5 itemprop="name">Notes</h5>
      </div>      
    </div>
  </a>
  <a href="{% url 'research' %}" class="loadingloader" itemscope itemtype="https://schema.org/Thing">
    <div class="box1 borderresearch" itemprop="item">
      <img src="{% static "/images/Hopelismreasearch.svg" %}" alt="Research icon for Research section">
      <div class="innertext">
        <h5 itemprop="name">Research</h5>
      </div>
    </div>
  </a>
  <a href="{% url 'cheatsheets' %}" class="loadingloader" itemscope itemtype="https://schema.org/Thing">
    <div class="box1 bordercheatsheets" itemprop="item">
      <img src="{% static "/images/Hopelismcheatsheet.svg" %}" alt="Cheatsheet icon for Cheat Sheets section">
      <div class="innertext">
        <h5 itemprop="name">Cheat Sheets</h5>
      </div>
    </div>
  </a>
  <a href="{% url 'careers' %}" class="loadingloader" itemscope itemtype="https://schema.org/Thing">
    <div class="box1 bordercareers" itemprop="item">
      <img src="{% static "/images/Hopelismcareers.svg" %}" alt="Career icon for Careers section">
      <div class="innertext">
        <h5 itemprop="name">Careers</h5>
      </div>
    </div>
  </a>
</div>
<div class="faqmaincontainer">
  <div class="faqcontanier1">
    <h2>Any question ?<br>Check out the FAQ's</h2>
    <p>Still have unanswered questions and need to get in touch ?</p>
    <button onclick="window.location.href='mailto:{{ contact_email }}'">Contact Support</button>
  </div>
  <div class="faqcontanier2" onclick='dropDownFaq()'> 
    <details class="drop-down">
      <summary>Hopelism services ?</summary>
      <div class="faqcontanier2content">
        <p>Hopelism provides a variety of resources including Notes and Research, addressing academic and non-academic interests. While also supporting successful Career searches for individuals.</p>
      </div>
    </details>
    <details class="drop-down">
      <summary>Hopelism role in career ?</summary>
        <div class="faqcontanier2content">  
          <p>Absolutely, career building is more than just advice.Hopelism creates a path for professional growth and helps build a successful career.Hopelism offers the tools and support you need to succeed.Join Hopelism and take the next step toward achieving your career goals.</p>
        </div>
    </details>
    <details class="drop-down">
      <summary>What is Hopelism mission ?</summary>
      <div class="faqcontanier2content">
        <p>Hopelism aims to help people around the world achieve their career goals by providing easy access to high-quality resources and support. Our mission is to ensure that everyone has the opportunity to succeed professionally.</p>
      </div>
    </details>
    <details class="drop-down">
      <summary>Hopelism free or paid service ?</summary>
      <div class="faqcontanier2content">
        <p>Hopelism will always be free,</p><br><p>We are committed to keeping it completely free and are doing our best to maintain it that way.Join Hopelism today and start building your successful career without any cost.</p>
      </div>
    </details>
  </div>
</div>
<div class="communitycontainermainbox">
  <div class="faqcontanier1">
    <img src="{% static "/images/Hopelismlogo.svg" %}" alt="">
  </div>
  <div class="communitycontainer2">
    <p>Ready to get started ?</p>
    <h2>Join The <span>Hopelism</span> Family Today For The Best Opportunities.</h2>
    <a href="{{ whatsapp_link }}"><button class="loadingloader" id="whatsapp-btn"><img src="{% static "/images/whatsappicon.png" %}" alt="">Whatsapp</button></a>
  </div>
</div>
{% endblock content %}